* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items {
  height: 400px;
  background-color: black;
  display: grid;
  grid-template-columns: 25% 25% minmax(170px, 250px) 25%;
  gap: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}